In [7]:
import pandas as pd
myDataset = pd.DataFrame(
    {"Col1":[1,2,3], "Col2":[1.0, 2.0, 3.0], "Col3":["a","b","c"]})
myDataset

   Col1  Col2 Col3
0     1   1.0    a
1     2   2.0    b
2     3   3.0    c

In [2]:
myDataset.dtypes

Col1      int64
Col2    float64
Col3     object
dtype: object

In [3]:
myDataset["Col1"] = myDataset["Col1"].astype(float)
myDataset.dtypes

Col1    float64
Col2    float64
Col3     object
dtype: object

In [6]:
myDataset=pd.DataFrame.from_dict(
    {"Col1":[1,2,3], "Col2":[1.0, 2.0, 3.0], "Col3":["a","b","c"]},
    orient="index")
myDataset

        0    1    2
Col1    1    2    3
Col2  1.0  2.0  3.0
Col3    a    b    c