In [7]:
import pandas as pd
myDataset = pd.DataFrame(
    {"Col1":[1,2,3], "Col2":[1.0, 2.0, 3.0], "Col3":["a","b","c"]})
myDataset

   Col1  Col2 Col3
0     1   1.0    a
1     2   2.0    b
2     3   3.0    c

In [2]:
myDataset.dtypes

Col1      int64
Col2    float64
Col3     object
dtype: object

In [3]:
myDataset["Col1"] = myDataset["Col1"].astype(float)
myDataset.dtypes

Col1    float64
Col2    float64
Col3     object
dtype: object

In [6]:
myDataset=pd.DataFrame.from_dict(
    {"Col1":[1,2,3], "Col2":[1.0, 2.0, 3.0], "Col3":["a","b","c"]},
    orient="index")
myDataset

        0    1    2
Col1    1    2    3
Col2  1.0  2.0  3.0
Col3    a    b    c

In [8]:
import numpy as np
npArray=np.array([[1,2,3], [4,5,6], [7,8,9]])

myDataset = pd.DataFrame(npArray, columns=["Col1", "Col2", "Col3"])
myDataset

   Col1  Col2  Col3
0     1     2     3
1     4     5     6
2     7     8     9

In [9]:
npArray[0,0] = 99
myDataset

   Col1  Col2  Col3
0    99     2     3
1     4     5     6
2     7     8     9

In [10]:
myDataset = pd.read_csv("Data/ozone.csv")
myDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [14]:
myDataset = pd.read_csv("Data/ozone.txt",delimiter="\t")
myDataset

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [15]:
myDataset.head(3)

   JOUR  O3obs  MOCAGE  TEMPE    RMH2O    NO2     NO STATION  VentMOD  VentANG
0     1     91    93.2   21.5  0.00847  1.602  0.424     Aix   9.5000 -0.64350
1     1    100   104.6   20.2  0.00881  2.121  0.531     Aix   8.0100 -0.04996
2     0     82   103.6   17.4  0.00951  1.657  0.467     Aix   9.3771 -0.12832