In [2]:
import pandas as pd

myDataset = pd.read_csv("Data/ozone.csv")

In [3]:
myDataset["Pow2_O3obs"] = myDataset["O3obs"]**2
columns=list(myDataset.columns.values)
myDataset=myDataset[columns[:2]+[columns[-1]]+columns[2:-1]]
myDataset

,JOUR,O3obs,Pow2_O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,8281,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,10000,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,6724,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,8836,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,11449,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...,...
1036,0,116,13456,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,3600,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,5476,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,14641,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,8649,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [4]:
myDataset.to_csv("Data/ozone2.csv", index=False)